*{
    padding: 0;
    margin: 0;
}




.container{
    border: 2px solid black;
    display: flex;
   gap: 20px;
    height: 180px;
    width: 500px;
    justify-content: center;
    align-items: center;
    background-color: rgb(184, 178, 202);
    border-radius: 10px;
    padding-top: 20px;
    position: relative;
    margin-left: 360px;
    margin-top:200px;


}

.days{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(172, 226, 248);
    border-radius: 50px;
    margin-top: -120px;
}

.hours{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(172, 226, 248);
    border-radius: 50px;
    margin-top: -120px;
}

.minutes{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(172, 226, 248);
    border-radius: 50px;
    margin-top: -120px;
}

.seconds{
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(172, 226, 248);
    border-radius: 50px;
    margin-top: -120px;
}
.span{
    position: absolute;
    bottom: 40px;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: red;
    color: white;
}